# Importing Libraries

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from statistics import mode
import copy
import warnings
warnings.simplefilter("ignore")

# Agenda - Analyze the data and generate insights that could help Netflix ijn deciding which type of shows/movies to produce and how they can grow the business in different countries

In [6]:
df = pd.read_csv("G:\My Drive\Portfolio Projects\Ott Platform Cleaning\Dataset\ott_platform.csv")

In [8]:
df.sample(20)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
3483,s3484,TV Show,El Marginal,NaN,"Juan Minujín, Martina Gusman, Gerardo Romano, ...",Argentina,"September 27, 2019",2019,TV-MA,3 Seasons,"Crime TV Shows, International TV Shows, Spanis...","While investigating a kidnapping, an ex-cop se..."
63,s64,Movie,Naruto the Movie: Ninja Clash in the Land of Snow,Tensai Okamura,"Junko Takeuchi, Noriaki Sugiyama, Chie Nakamur...",Japan,"September 15, 2021",2004,TV-PG,83 min,"Action & Adventure, Anime Features, Internatio...","Naruto, Sasuke and Sakura learn they'll be pro..."
2555,s2556,Movie,Aerials,S.A. Zaidi,"Saga Alyasery, Ana Druzhynina, Mansour Al Fele...",United Arab Emirates,"May 7, 2020",2016,TV-14,90 min,"International Movies, Sci-Fi & Fantasy",Dubai residents struggle to figure out why a f...
7173,s7174,Movie,Kaviyude Osyath,Vineeth Anil,"Prakash Bare, Arun Kumar, Kulappulli Leela, Sa...",India,"July 1, 2018",2017,TV-14,116 min,"Dramas, International Movies",When a late poet leaves behind his property to...
2128,s2129,Movie,Beyond the Boundary: ICC Women's T20 World Cup...,Anna Stone,NaN,NaN,"August 14, 2020",2020,TV-G,59 min,"Documentaries, International Movies, Sports Mo...","With highlights from the 2020 tourney, this pr..."
7613,s7614,Movie,NOVA: Poisoned Water,Llewellyn M. Smith,Joe Morton,United States,"July 1, 2019",2017,TV-PG,54 min,Documentaries,This documentary details how the water disaste...
8205,s8206,Movie,The Battle of Midway,John Ford,"Henry Fonda, Jane Darwell",United States,"March 31, 2017",1942,TV-14,18 min,"Classic Movies, Documentaries",Director John Ford captures combat footage of ...
1189,s1190,Movie,Nate Bargatze: The Greatest Average American,Troy Miller,Nate Bargatze,United States,"March 18, 2021",2021,TV-G,60 min,Stand-Up Comedy,"Nate Bargatze touches on Zoom comedy shows, lo..."
8617,s8618,Movie,Trash,Stephen Daldry,"Wagner Moura, Martin Sheen, Rooney Mara, Selto...","United Kingdom, Brazil, Germany","January 1, 2019",2014,R,114 min,"Dramas, Independent Movies, Thrillers",Three poor Brazilian teens find something susp...
6501,s6502,Movie,Cloud Atlas,"Lilly Wachowski, Lana Wachowski, Tom Tykwer","Tom Hanks, Halle Berry, Jim Broadbent, Hugo We...","Germany, United States, Hong Kong, Singapore","August 1, 2017",2012,R,172 min,"Action & Adventure, Cult Movies, Dramas","In this star-studded drama, six seemingly disp..."
5657,s5658,Movie,Garfunkel and Oates: Trying to be Special,"Riki Lindhome, Jeremy Konner","Riki Lindhome, Kate Micucci, Anthony Jeselnik,...",United States,"December 23, 2016",2016,TV-MA,62 min,"Music & Musicals, Stand-Up Comedy",Garfunkel and Oates put on a surprise-filled s...
5426,s5427,Movie,Counterpunch,Jay Bulger,NaN,United States,"June 16, 2017",2017,TV-MA,91 min,"Documentaries, Sports Movies","As boxing's popularity wanes, three fighters a..."
1904,s1905,Movie,Carlos Almaraz: Playing with Fire,"Elsa Flores Almaraz, Richard J Montoya","Edward James Olmos, Zach De La Rocha",United States,"October 1, 2020",2019,TV-14,83 min,"Documentaries, LGBTQ Movies","Mixing archival footage with interviews, this ..."
1707,s1708,Movie,A Very Special Love,Cathy Garcia-Molina,"John Lloyd Cruz, Sarah Geronimo, Dante Rivero,...",Philippines,"November 12, 2020",2008,TV-G,107 min,"International Movies, Romantic Movies",After landing a job working for her longtime c...
5658,s5659,TV Show,Sense8,NaN,"Tuppence Middleton, Brian J. Smith, Doona Bae,...",United States,"December 23, 2016",2018,TV-MA,2 Seasons,"Crime TV Shows, TV Dramas, TV Mysteries","From the creators of ""The Matrix"" and ""Babylon..."
6621,s6622,Movie,Dolphin Kick,Philip Marlatt,"Axle McCoy, Travis McCoy, Tyler Jade Nixon, Al...",United States,"June 5, 2019",2019,TV-PG,90 min,Children & Family Movies,"After losing his mom, 10-year-old Luke abandon..."
854,s855,Movie,Creating an Army of the Dead,NaN,NaN,NaN,"May 21, 2021",2021,TV-MA,29 min,Documentaries,"Zack Snyder and his ""Army of the Dead"" team di..."
4234,s4235,Movie,Gina Yashere: Laughing to America,Paul M. Green,Gina Yashere,NaN,"December 31, 2018",2013,TV-MA,68 min,Stand-Up Comedy,British comic Gina Yashere takes the stage in ...
1713,s1714,Movie,Memories of a Teenager,Lucas Santa Ana,"Renato Quattordio, Malena Narvay, Thomás Leper...",Argentina,"November 12, 2020",2019,TV-MA,97 min,"Dramas, International Movies, LGBTQ Movies","To cope with a friend's death, a teen blogs ab..."
3132,s3133,Movie,Dil Dhadakne Do,Zoya Akhtar,"Anil Kapoor, Priyanka Chopra, Ranveer Singh, A...",India,"December 15, 2019",2015,TV-MA,174 min,"Comedies, Dramas, International Movies",While hosting a shipboard holiday for relative...

# Cleaning The Data
- Upon Checking the sample, we can see how these files are nested like Director, Cast,Country
- We don't really need description column
- Release_year column is an object type, need to change it to datetime
- Though There are Null Values, there are no duplicates in data

In [9]:
#Dropping Description Column
df.drop("description",axis=1,inplace=True)
legacy_df = copy.deepcopy(df)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
dtypes: int64(1), object(10)
memory usage: 757.0+ KB

In [11]:
legacy_summary = df.describe(include='all')
legacy_summary

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
count,8807,8807,8807,6173,7982,7976,8797,8807.000000,8803,8804,8807
unique,8807,2,8807,4528,7692,748,1767,NaN,17,220,514
top,s1,Movie,Dick Johnson Is Dead,Rajiv Chilaka,David Attenborough,United States,"January 1, 2020",NaN,TV-MA,1 Season,"Dramas, International Movies"
freq,1,6131,1,19,19,2818,109,NaN,3207,1793,362
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.180198,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.819312,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1925.000000,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013.000000,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.000000,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.000000,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021.000000,NaN,NaN,NaN

In [12]:
legacy_df[legacy_df.duplicated()]

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in]
Index: []

In [13]:
# getting nested columns
def get_nested_columns(xx):
    nested_columns = []
    for i in xx:
        if df[df[str(i)].apply(lambda x:"," in str(x))].shape[0] > 0:
            nested_columns.append(i)

    return nested_columns
get_nested_columns(df.columns)

['title', 'director', 'cast', 'country', 'date_added', 'listed_in']

In [14]:
# This looks all right
df[df['title'].apply(lambda x:"," in str(x))]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
10,s11,TV Show,"Vendetta: Truth, Lies and The Mafia",NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, Docuseries, International TV S..."
140,s141,Movie,"El patrón, radiografía de un crimen",Sebastián Schindel,"Joaquín Furriel, Luis Ziembrowski, Guillermo P...","Argentina, Venezuela","September 1, 2021",2014,TV-MA,100 min,"Dramas, International Movies, Thrillers"
206,s207,Movie,"LSD: Love, Sex Aur Dhokha",Dibakar Banerjee,"Nushrat Bharucha, Anshuman Jha, Neha Chauhan, ...",India,"August 27, 2021",2010,TV-MA,112 min,"Dramas, Independent Movies, International Movies"
221,s222,Movie,"Bob Ross: Happy Accidents, Betrayal & Greed",Joshua Rofé,Bob Ross,NaN,"August 25, 2021",2021,TV-14,93 min,Documentaries
658,s659,TV Show,"Nevertheless,",NaN,"Song Kang, Han So-hee, Chae Jong-hyeop, Lee Yu...",NaN,"June 20, 2021",2021,TV-14,1 Season,"International TV Shows, Romantic TV Shows, TV ..."
...,...,...,...,...,...,...,...,...,...,...,...
8598,s8599,Movie,"To Wong Foo, Thanks for Everything! Julie Newmar",Beeban Kidron,"Patrick Swayze, Wesley Snipes, John Leguizamo,...",United States,"August 1, 2019",1995,PG-13,108 min,"Comedies, Cult Movies, LGBTQ Movies"
8628,s8629,Movie,"Trikal (Past, Present, Future)",Shyam Benegal,"Leela Naidu, Neena Gupta, Anita Kanwar, Soni R...",India,"December 31, 2019",1985,TV-14,134 min,"Comedies, Dramas, Independent Movies"
8647,s8648,Movie,"Twisted Trunk, Big Fat Body",NaN,"Vijay Maurya, Naman Jain, Usha Nadkarni, Mukes...",India,"January 15, 2017",2015,TV-14,89 min,"Dramas, International Movies"
8707,s8708,Movie,"We, the Marines",Greg MacGillivray,NaN,United States,"July 1, 2018",2017,TV-PG,38 min,"Documentaries, International Movies"
8793,s8794,Movie,"Yours, Mine and Ours",Raja Gosnell,"Dennis Quaid, Rene Russo, Sean Faris, Katija P...",United States,"November 20, 2019",2005,PG,88 min,"Children & Family Movies, Comedies"

In [15]:
# This looks all right
df[df['date_added'].apply(lambda x:"," in str(x))]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries"
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act..."
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV"
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ..."
...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers"
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies"
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies"
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies"
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals"

In [16]:
# Un nesting columns, although this will populate the data
nested_column  = ['director', 'cast', 'country', 'listed_in']
for i in nested_column :
    df[str(i)]= df[str(i)].str.split(',')
    df = df.explode(str(i))
    df[str(i)] = df[str(i)].str.strip()

In [17]:
df['date_added'] = pd.to_datetime(df['date_added'])
df['release_year'] = pd.to_datetime(df['release_year'])

## Now let's check our new data

In [18]:
df.head(20)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2021-09-25,1970-01-01 00:00:00.000002020,PG-13,90 min,Documentaries
1,s2,TV Show,Blood & Water,NaN,Ama Qamata,South Africa,2021-09-24,1970-01-01 00:00:00.000002021,TV-MA,2 Seasons,International TV Shows
1,s2,TV Show,Blood & Water,NaN,Ama Qamata,South Africa,2021-09-24,1970-01-01 00:00:00.000002021,TV-MA,2 Seasons,TV Dramas
1,s2,TV Show,Blood & Water,NaN,Ama Qamata,South Africa,2021-09-24,1970-01-01 00:00:00.000002021,TV-MA,2 Seasons,TV Mysteries
1,s2,TV Show,Blood & Water,NaN,Khosi Ngema,South Africa,2021-09-24,1970-01-01 00:00:00.000002021,TV-MA,2 Seasons,International TV Shows
1,s2,TV Show,Blood & Water,NaN,Khosi Ngema,South Africa,2021-09-24,1970-01-01 00:00:00.000002021,TV-MA,2 Seasons,TV Dramas
1,s2,TV Show,Blood & Water,NaN,Khosi Ngema,South Africa,2021-09-24,1970-01-01 00:00:00.000002021,TV-MA,2 Seasons,TV Mysteries
1,s2,TV Show,Blood & Water,NaN,Gail Mabalane,South Africa,2021-09-24,1970-01-01 00:00:00.000002021,TV-MA,2 Seasons,International TV Shows
1,s2,TV Show,Blood & Water,NaN,Gail Mabalane,South Africa,2021-09-24,1970-01-01 00:00:00.000002021,TV-MA,2 Seasons,TV Dramas
1,s2,TV Show,Blood & Water,NaN,Gail Mabalane,South Africa,2021-09-24,1970-01-01 00:00:00.000002021,TV-MA,2 Seasons,TV Mysteries
1,s2,TV Show,Blood & Water,NaN,Thabang Molaba,South Africa,2021-09-24,1970-01-01 00:00:00.000002021,TV-MA,2 Seasons,International TV Shows
1,s2,TV Show,Blood & Water,NaN,Thabang Molaba,South Africa,2021-09-24,1970-01-01 00:00:00.000002021,TV-MA,2 Seasons,TV Dramas
1,s2,TV Show,Blood & Water,NaN,Thabang Molaba,South Africa,2021-09-24,1970-01-01 00:00:00.000002021,TV-MA,2 Seasons,TV Mysteries
1,s2,TV Show,Blood & Water,NaN,Dillon Windvogel,South Africa,2021-09-24,1970-01-01 00:00:00.000002021,TV-MA,2 Seasons,International TV Shows
1,s2,TV Show,Blood & Water,NaN,Dillon Windvogel,South Africa,2021-09-24,1970-01-01 00:00:00.000002021,TV-MA,2 Seasons,TV Dramas
1,s2,TV Show,Blood & Water,NaN,Dillon Windvogel,South Africa,2021-09-24,1970-01-01 00:00:00.000002021,TV-MA,2 Seasons,TV Mysteries
1,s2,TV Show,Blood & Water,NaN,Natasha Thahane,South Africa,2021-09-24,1970-01-01 00:00:00.000002021,TV-MA,2 Seasons,International TV Shows
1,s2,TV Show,Blood & Water,NaN,Natasha Thahane,South Africa,2021-09-24,1970-01-01 00:00:00.000002021,TV-MA,2 Seasons,TV Dramas
1,s2,TV Show,Blood & Water,NaN,Natasha Thahane,South Africa,2021-09-24,1970-01-01 00:00:00.000002021,TV-MA,2 Seasons,TV Mysteries
1,s2,TV Show,Blood & Water,NaN,Arno Greeff,South Africa,2021-09-24,1970-01-01 00:00:00.000002021,TV-MA,2 Seasons,International TV Shows

# EDA
- Removing Duplicates
- Handling Null Values

## Removing Duplicate Values

In [19]:
df.drop_duplicates(inplace=True)

## Basic Information

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 202010 entries, 0 to 8806
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   show_id       202010 non-null  object
 1   type          202010 non-null  object
 2   title         202010 non-null  object
 3   director      151367 non-null  object
 4   cast          199861 non-null  object
 5   country       190113 non-null  object
 6   date_added    201852 non-null  datetime64[ns]
 7   release_year  202010 non-null  datetime64[ns]
 8   rating        201943 non-null  object
 9   duration      202007 non-null  object
 10  listed_in     202010 non-null  object
dtypes: datetime64[ns](2), object(9)
memory usage: 18.5+ MB

In [21]:
df.describe()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
count,202010,202010,202010,151367,199861,190113,201852,202010,201943,202007,202010
unique,8807,2,8807,4993,36439,123,1714,74,17,220,42
top,s7165,Movie,Kahlil Gibran's The Prophet,Martin Scorsese,Liam Neeson,United States,2020-01-01 00:00:00,1970-01-01 00:00:00.000002018,TV-MA,1 Season,Dramas
freq,700,145862,700,419,161,59325,3748,24440,73867,35035,29787
first,NaN,NaN,NaN,NaN,NaN,NaN,2008-01-01 00:00:00,1970-01-01 00:00:00.000001925,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,NaN,2021-09-25 00:00:00,1970-01-01 00:00:00.000002021,NaN,NaN,NaN

In [22]:
df['type'] = df['type'].astype('category')
df['rating'] = df['rating'].astype('category')
df['listed_in'] = df['listed_in'].astype('category')

## Handling Missing Values

In [23]:
df.isna().sum()/df.shape[0] *100

show_id          0.000000
type             0.000000
title            0.000000
director        25.069551
cast             1.063809
country          5.889312
date_added       0.078214
release_year     0.000000
rating           0.033167
duration         0.001485
listed_in        0.000000
dtype: float64

In [24]:
df[df['director'].isnull()]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
1,s2,TV Show,Blood & Water,NaN,Ama Qamata,South Africa,2021-09-24,1970-01-01 00:00:00.000002021,TV-MA,2 Seasons,International TV Shows
1,s2,TV Show,Blood & Water,NaN,Ama Qamata,South Africa,2021-09-24,1970-01-01 00:00:00.000002021,TV-MA,2 Seasons,TV Dramas
1,s2,TV Show,Blood & Water,NaN,Ama Qamata,South Africa,2021-09-24,1970-01-01 00:00:00.000002021,TV-MA,2 Seasons,TV Mysteries
1,s2,TV Show,Blood & Water,NaN,Khosi Ngema,South Africa,2021-09-24,1970-01-01 00:00:00.000002021,TV-MA,2 Seasons,International TV Shows
1,s2,TV Show,Blood & Water,NaN,Khosi Ngema,South Africa,2021-09-24,1970-01-01 00:00:00.000002021,TV-MA,2 Seasons,TV Dramas
...,...,...,...,...,...,...,...,...,...,...,...
8800,s8801,TV Show,Zindagi Gulzar Hai,NaN,Hina Khawaja Bayat,Pakistan,2016-12-15,1970-01-01 00:00:00.000002012,TV-PG,1 Season,Romantic TV Shows
8800,s8801,TV Show,Zindagi Gulzar Hai,NaN,Hina Khawaja Bayat,Pakistan,2016-12-15,1970-01-01 00:00:00.000002012,TV-PG,1 Season,TV Dramas
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,2019-07-01,1970-01-01 00:00:00.000002018,TV-Y7,2 Seasons,Kids' TV
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,2019-07-01,1970-01-01 00:00:00.000002018,TV-Y7,2 Seasons,Korean TV Shows
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,2019-07-01,1970-01-01 00:00:00.000002018,TV-Y7,2 Seasons,TV Comedies

In [32]:
def get_mode(series):
    if len(series.mode()) > 0:
        return series.mode().iat[0]
    else:
        return None 

director_ref = df.groupby(['type', 'rating'])['director'].agg(get_mode)
director_ref

type     rating
Movie    66 min               Louis C.K.
         74 min               Louis C.K.
         84 min               Louis C.K.
         G                  Robert Vince
         NC-17       Abdellatif Kechiche
         NR               Lars von Trier
         PG                 Raja Gosnell
         PG-13             Peter Jackson
         R                    Tom Hooper
         TV-14               Umesh Mehra
         TV-G         Sooraj R. Barjatya
         TV-MA           Youssef Chahine
         TV-PG                Rob LaDuca
         TV-Y                Ishi Rudell
         TV-Y7             Rajiv Chilaka
         TV-Y7-FV            Mario Cambi
         UR              Sylvie Verheyde
TV Show  66 min                      NaN
         74 min                      NaN
         84 min                      NaN
         G                           NaN
         NC-17                       NaN
         NR                         None
         PG                          NaN
         PG-13                       NaN
         R             Quentin Tarantino
         TV-14           Rob Seidenglanz
         TV-G               Kenny Ortega
         TV-MA                 Alan Poul
         TV-PG                Noam Murro
         TV-Y             Guy Vasilovich
         TV-Y7             Thomas Astruc
         TV-Y7-FV                   None
         UR                          NaN
Name: director, dtype: object

In [31]:
director_ref_dict=director_ref.to_dict()
director_ref_dict

{('Movie', '66 min'): 'Louis C.K.',
 ('Movie', '74 min'): 'Louis C.K.',
 ('Movie', '84 min'): 'Louis C.K.',
 ('Movie', 'G'): 'Robert Vince',
 ('Movie', 'NC-17'): 'Abdellatif Kechiche',
 ('Movie', 'NR'): 'Lars von Trier',
 ('Movie', 'PG'): 'Raja Gosnell',
 ('Movie', 'PG-13'): 'Peter Jackson',
 ('Movie', 'R'): 'Tom Hooper',
 ('Movie', 'TV-14'): 'Umesh Mehra',
 ('Movie', 'TV-G'): 'Sooraj R. Barjatya',
 ('Movie', 'TV-MA'): 'Youssef Chahine',
 ('Movie', 'TV-PG'): 'Rob LaDuca',
 ('Movie', 'TV-Y'): 'Ishi Rudell',
 ('Movie', 'TV-Y7'): 'Rajiv Chilaka',
 ('Movie', 'TV-Y7-FV'): 'Mario Cambi',
 ('Movie', 'UR'): 'Sylvie Verheyde',
 ('TV Show', '66 min'): nan,
 ('TV Show', '74 min'): nan,
 ('TV Show', '84 min'): nan,
 ('TV Show', 'G'): nan,
 ('TV Show', 'NC-17'): nan,
 ('TV Show', 'NR'): None,
 ('TV Show', 'PG'): nan,
 ('TV Show', 'PG-13'): nan,
 ('TV Show', 'R'): 'Quentin Tarantino',
 ('TV Show', 'TV-14'): 'Rob Seidenglanz',
 ('TV Show', 'TV-G'): 'Kenny Ortega',
 ('TV Show', 'TV-MA'): 'Alan Poul',
 ('TV Show', 'TV-PG'): 'Noam Murro',
 ('TV Show', 'TV-Y'): 'Guy Vasilovich',
 ('TV Show', 'TV-Y7'): 'Thomas Astruc',
 ('TV Show', 'TV-Y7-FV'): None,
 ('TV Show', 'UR'): nan}