# Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Agenda - Analyze the data and generate insights that could help Netflix ijn deciding which type of shows/movies to produce and how they can grow the business in different countries

In [2]:
df = pd.read_csv("G:\My Drive\Portfolio Projects\Ott Platform Cleaning\Dataset\ott_platform.csv")

In [3]:
df.sample(20)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
8435,s8436,Movie,The Natural,Barry Levinson,"Robert Redford, Robert Duvall, Glenn Close, Ki...",United States,"January 1, 2020",1984,PG,138 min,"Classic Movies, Dramas, Sports Movies",A gifted baseball player whose life has taken ...
4111,s4112,TV Show,The Kirlian Frequency,NaN,"Nicolás Van de Moortele, Letizia Denise Bloisi...",Argentina,"February 15, 2019",2017,TV-14,1 Season,"International TV Shows, Spanish-Language TV Sh...","In the midnight hour, a lone DJ broadcasts the..."
6854,s6855,Movie,Ginger & Rosa,Sally Potter,"Elle Fanning, Alessandro Nivola, Christina Hen...","United Kingdom, Denmark, Canada, Croatia","July 15, 2018",2012,PG-13,90 min,"Dramas, Independent Movies","With the Cold War looming over them, teen best..."
6011,s6012,Movie,30 Days of Luxury,Hani Hamdi,"Taher Farouz, Sad Al-Saghir, Ahmad Faloks, Sol...",Egypt,"April 18, 2019",2016,TV-14,91 min,"Comedies, International Movies","With the help of his friends, a man breaks out..."
4323,s4324,Movie,Super Monsters and the Wish Star,Jacob Joice,"Elyse Maloway, Vincent Tong, Erin Mathews, And...",NaN,"December 7, 2018",2018,TV-Y,28 min,Children & Family Movies,"Christmas wishes come true for Lobo, whose fav..."
2975,s2976,Movie,Miss Americana,Lana Wilson,Taylor Swift,United States,"January 31, 2020",2020,TV-MA,85 min,"Documentaries, Music & Musicals","In this revealing documentary, Taylor Swift em..."
6661,s6662,Movie,East Side Sushi,Anthony Lucero,"Diana Elizabeth Torres, Yutaka Takeuchi, Rodri...",United States,"September 15, 2020",2015,PG,106 min,Dramas,"She’s not the usual candidate for the role, bu..."
4582,s4583,Movie,Luv Shuv Tey Chicken Khurana,Sameer Sharma,"Kunal Kapoor, Huma Qureshi, Rajesh Sharma, Vip...",India,"October 1, 2018",2012,TV-14,129 min,"Comedies, International Movies, Romantic Movies",Fleeing London to evade a gangland debt collec...
3397,s3398,Movie,ChuChuTV Surprise Eggs Learning Videos (Hindi),NaN,NaN,NaN,"October 18, 2019",2019,TV-Y,34 min,Children & Family Movies,Magic elephant Mr. Harlo uses playtime to help...
8120,s8121,Movie,Sunrise,Partho Sen-Gupta,"Adil Hussain, Tannishtha Chatterjee, Gulnaaz A...","India, France","March 15, 2017",2014,TV-MA,85 min,"Dramas, Independent Movies, International Movies","While investigating a child kidnapping, a Mumb..."
1409,s1410,Movie,The Vanished,Peter Facinelli,"Thomas Jane, Anne Heche, Jason Patric, John D....",United States,"January 15, 2021",2020,R,115 min,Thrillers,When their daughter disappears during a family...
54,s55,Movie,InuYasha the Movie: Affections Touching Across...,Toshiya Shinohara,"Kappei Yamaguchi, Satsuki Yukino, Koji Tsujita...",Japan,"September 15, 2021",2001,TV-PG,100 min,"Action & Adventure, Anime Features, Internatio...",A powerful demon has been sealed away for 200 ...
6347,s6348,TV Show,Bob Ross: Beauty Is Everywhere,NaN,Bob Ross,NaN,"June 1, 2016",1991,TV-G,1 Season,TV Shows,"""The Joy of Painting"" host Bob Ross brings his..."
1377,s1378,TV Show,Outlander,NaN,"Caitriona Balfe, Sam Heughan, Tobias Menzies, ...",United States,"January 27, 2021",2018,TV-MA,4 Seasons,"Romantic TV Shows, TV Action & Adventure, TV D...",This epic tale adapted from Diana Gabaldon's p...
4497,s4498,Movie,Oddbods: Party Monsters,NaN,"Nadia Ramlee, Chio Su-Ping, Jeremy Linn, Marlo...",NaN,"October 19, 2018",2018,TV-Y,23 min,Movies,"Dressed up as detective Sherlock Holmes, Slick..."
3868,s3869,Movie,Laatu,Manav Shah,"Gagan Kokri, Aditi Sharma, Karamjit Anmol, Sar...",India,"May 2, 2019",2018,TV-PG,116 min,"Comedies, Dramas, International Movies",A man who hopes to bring light to his village ...
463,s464,Movie,A Classic Horror Story,"Roberto De Feo, Paolo Strippoli","Matilda Lutz, Francesco Russo, Peppino Mazzott...",Italy,"July 14, 2021",2021,TV-MA,95 min,"Horror Movies, International Movies","In this gruesome suspense film, strangers trav..."
8582,s8583,Movie,Thorne: Scaredy Cat,Benjamin Ross,"David Morrissey, Eddie Marsan, Aidan Gillen, O...",United Kingdom,"November 2, 2016",2010,NR,125 min,"Dramas, International Movies",Heading a new team whose aim is to crack the c...
8528,s8529,Movie,The Thief and the Imbecile,"Mohammed El-Tahawy, Mohamed Mostafa","Khaled El Sawy, Khaled Saleh, Ruby",Egypt,"June 6, 2019",2013,TV-14,96 min,"Dramas, International Movies",A street beggar befriends a man who lost his e...
6066,s6067,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ..."

# Cleaning The Data
- Upon Checking the sample, we can see how these files are nested like Director, Cast,Country
- We don't really need description column
- Release_year column is an object type, need to change it to datetime

In [4]:
#Dropping Description Column
df.drop("description",axis=1,inplace=True)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
dtypes: int64(1), object(10)
memory usage: 757.0+ KB

In [6]:
legacy_summary = df.describe(include='all')
legacy_summary

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
count,8807,8807,8807,6173,7982,7976,8797,8807.000000,8803,8804,8807
unique,8807,2,8807,4528,7692,748,1767,NaN,17,220,514
top,s1,Movie,Dick Johnson Is Dead,Rajiv Chilaka,David Attenborough,United States,"January 1, 2020",NaN,TV-MA,1 Season,"Dramas, International Movies"
freq,1,6131,1,19,19,2818,109,NaN,3207,1793,362
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.180198,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.819312,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1925.000000,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013.000000,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.000000,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.000000,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021.000000,NaN,NaN,NaN

In [23]:
np.na(df[df['show_id'].apply(lambda x:"," in str(x))])

0

In [21]:
df['director']= df['director'].str.split(',')
df = df.explode('director')
df['director'] = df['director'].str.strip()

In [22]:
df['cast']= df['cast'].str.split(',')
df = df.explode('cast')
df['cast'] = df['cast'].str.strip()

In [36]:
df['country']= df['country'].str.split(',')
df = df.explode('country')
df['country'] = df['country'].str.strip()

In [37]:
df['listed_in']= df['listed_in'].str.split(',')
df = df.explode('listed_in')
df['listed_in'] = df['listed_in'].str.strip()

In [38]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries
1,s2,TV Show,Blood & Water,NaN,Ama Qamata,South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,International TV Shows
1,s2,TV Show,Blood & Water,NaN,Ama Qamata,South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,TV Dramas
1,s2,TV Show,Blood & Water,NaN,Ama Qamata,South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,TV Mysteries
1,s2,TV Show,Blood & Water,NaN,Khosi Ngema,South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,International TV Shows